<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <!-- ============== CSS ===================== -->
    <title>Simulation</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">

    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
    <link rel="stylesheet" type="text/css" href="styles/slider2.css">
    <link rel="stylesheet" href="styles/style.css">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <script src="libraries/angular.min.js"></script>
    <script src="libraries/buttons.js"></script>
    <script src="libraries/slider.js"></script>
    <script src="libraries/underscore.min.js"></script>
</head>

<!-- ============== BODY =================== -->

<ng-include src="'header.html'"></ng-include>

<body ng-app="mainApp">

    <div class="container" ng-controller="mainCtrl">
        <div class="row">
            <div class="col-sm-6">
                <div infrastructure></div>
                <div class="row col-md-offset-2">
                    <button style="width: 40%" class="btn btn-med {{ paused ? 'btn-success' : 'btn-warning' }}" ng-click="paused = !paused; timer.pause(paused)">{{paused ? "Play" : "Pause"}}</button>
                    <button style="width: 40%" class="btn btn-med btn-danger" ng-click="reset()">Reset</button>
                </div>
            </div>
            <div class="col-sm-5">
                <div bar-chart></div>
                <h5>Speed</h5>
                <div class="slider" ui-slider="{orientation: 'horizontal', tickInterval: 10, step: 2.5}" min="10" max="100" ng-model="tickFreq"></div>
                <h5>Ramp Rate (cars/10 sec)</h5>
                <div class="slider" ui-slider="{orientation: 'horizontal', tickInterval: 1, step: 0.25}" min="1" max="10" ng-model="addFreq"></div>
                <h5>Trip Length</h5>
                <div class="slider" ui-slider="{orientation: 'horizontal', tickInterval: 5, step: 1}" min="50" max="75" ng-model="tripLength"></div>
            </div>
        </div>
    </div>


</body>

<!-- ============== LIBRARIES =================== -->
<script type="text/javascript" src="libraries/angular-slider.js"></script>
<script src="libraries/d3.v3.min.js" charset="utf-8"></script>
<script src="libraries/sticker.js"></script>

<!-- ============== SCRIPTS =================== -->
<script type="text/javascript">
var app = angular.module('mainApp', ['ui.bootstrap', 'ui.slider']);

app.run(['$rootScope',
    function($rootScope) {
        window.onresize = function() { // Browser onresize event
            $rootScope.$broadcast('windowResize');
        };
    }
]);
</script>
<script src="scripts/dataService.js"></script>
<script src="scripts/objects.js"></script>
<script src="scripts/controller.js"></script>
<script src="scripts/infrastructure.js"></script>
<script src="scripts/bar.js"></script>


</html>
