body {
    font-family:'Open Sans', sans-serif;
}
.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
.container {
    margin-left: 5px;
}

.scatterDot circle{
	stroke: none;
	fill: 'crimson';
}

body{
	padding-top: 75px;
}

.slider{
	/*margin: 10px 0px 10px 0px;*/
	font-size: 13px;
}

.ui-widget{
	font-family: 'Open Sans', sans-serif;
}
